<!DOCTYPE html>
<html>
<!-- Copyright SunSpec Alliance 2014-2016 All Rights Reserved -->
<!-- <c:set var="activeTab" value="manage_plants" scope="session"/> -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'osparc/themes_blue.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'osparc/osparc.css' %}" />
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script src="{% static 'osparc/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'osparc/main.js' %}"></script>
<script src="{% static 'osparc/add_query.js' %}"></script>

<head>
  <meta charset="utf-8">
  <title>oSPARC</title>
</head>


<body>
  
<!-- header from include/header.jsp (logos, title) -->
<a href="http://www.sunspec.org/"><img src="{% static "osparc/images/osparc_header.jpeg" %}" alt="SunSpec Alliance oSPARC" title="SunSpec Alliance oSPARC"/></a>
<div class="floatRight">
  <a href="http://www.cleanpower.com/"><img src="{% static "osparc/images/by_SA-SystemCheck_web.png" %}" alt="Clean Power Research" title="Clean Power Research"/></a>
</div>

<!-- Top navigation bar from include/top_nav.jsp -->
<div id="main_nav">
  <ul class="dropdown top_level">
    <li id="homeLink"><a href="/osparc">Dashboard</a></li>
    <!--
    <sec:authorize access="hasRole('admin')">
      <li ><a href="#">Accounts</a>
          <ul class="sub_menu">
              <li><a href="/account/create">Create Account</a></li>
              <li><a href="/account">Manage Accounts</a></li>
          </ul>
      </li>
    </sec:authorize>
  -->
    <sec:authorize access="hasRole('admin') or hasRole('dataProvider')">
      <li ><a href="#">Plants</a>
          <ul class="sub_menu">
              <li><a href="add_plant">Create Plant</a></li>
<!--              <li><a href="/plant/upload">Upload Plant</a></li>
              <li><a href="/plant/timeseries_upload">Upload Plant Timeseries Data</a></li>
-->
              <li><a href="list_plants">View Plants</a></li>
          </ul>
      </li>
    </sec:authorize>
      <li><a href="#">Reports</a>
        <ul class="sub_menu">
          <li><a href="add_query">Create Report Definition</a></li>
          <li><a href="list_queries">View Report Definitions</a></li>
          <li><a href="list_reports">View Reports</a></li>
        </ul>
      </li>
      <li><a href="http://sunspec.org/osparchelp" target="_blank">Help</a></li>
      <!--
      <li>
        <c:if test="${pageContext.request.remoteUser != null}">
          <c:url var="logoutUrl" value="/logout"/>


          <form action="${logoutUrl}" method="post" id="logout_form">
            <a href="javascript:{}" onclick="submit_logout_form();">Logout</a>
             Because we are using form and not form:form we need to
             explicitly include the csrf token
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
          </form>
        </c:if>
      </li>
      -->
    </ul>
    <div class="clearfix"></div>
</div>


<h2>Create Report Definition</h2>

<div class="result"></div>

<form action="javascript:osparc_addquery.addQuery()" class="form-horizontal">

  <div class="o_category_filter">

    <h2 class="o_category_filter_header">Report Attributes</h2>

    <div id="report_attributes_div">

      <div class="floatLeft">
        <label for="name"><b>Report Name</b></label>
        <div><input name="name"/></div>
      </div>

      <div id="plant_evalperiod_div" class="floatLeft">
          <label><b>Initial Measurement Date</b></label>
          <div><input name="observationstartdate" class="form-control" type="date" value="2001-01-01"></div>
      </div>
      <div id="plant_evalperiod_div" class="floatLeft">
          <label><b>Final Measurement Date</b></label>
          <div><input name="observationenddate" class="form-control" type="date" value="2016-12-31"></div>
      </div>

      <div class="clearfix"><p>&nbsp;</p></div>
    </div>

  </div><!-- close category filter div -->

  <div class="o_category_filter">

    <h2 class="o_category_filter_header">Plant Selection Criteria</h2>

    <table id="plant_attributes_table">
      <tr>
        <th>Attribute</th>
        <th>Comparison Operation</th>
        <th>Value</th>
      </tr>
      <tr>
        <td><select class="js-example-basic-single" name="plantfilterattribute">
              <option value="name">Name</option>
              <option value="activationdate">Activation Date</option>
              <option value="dcrating">DC Rating</option>
              <option value="postalcode">Postal Code</option>
              <option value="state">State</option>
              <option value="description">Description</option>
              <option value="county">County</option>
              <option value="city">City</option>
              <option value="latitude">Latitude</option>
              <option value="longitude">Longitude</option>
              <option value="timezone">Timezone</option>
              <option value="arraytype">Array Type</option>
              <option value="tilt">Tilt</option>
              <option value="azimuth">Azimuth</option>
              <option value="storageoriginalcapacity">Storage Original Capacity</option>
              <option value="storagecurrentcapacity">Storage Current Capacity</option>
              <option value="storagestateofcharge">Storage State of Charge</option>
            </select>
        </td>
        <td><select class="js-example-basic-single" name="plantfilteroperation">
              <option value="like">contains</option>
              <option value="<">less than</option>
              <option value="<=">less than or equal to</option>
              <option value="=">equal to</option>
              <option value=">=">greater than or equal to</option>
              <option value=">">greater than</option>
           </select>
        </td>
        <td><input name="plantfiltervalue"/></td>
      </tr>
    </table><!-- close plant_attributes_table -->
  </div><!-- close category filter div -->

  <!-- <jsp:include page="../plant/plant_construction.jsp" />
  <jsp:include page="../plant/plant_participants.jsp" />
   -->

  <div class="form-actions">
    <button class="osparcButton">Create Report Definition</button>
  </div>
</form>

<!--   <div id="overlay"></div>
    <div id="server_response_div">
      <div class="o_category_filter">
      <h2 id="server_response_title" class="o_category_filter_header"></h2>
      <div id="server_response_text"></div>
      <div id="close_btn_div" class="close_btn"><button class="close_window" os-data-overlay-id="server_response_div"><spring:message code="globals.close"/></button></div>
    </div>
  </div>
 -->

<div id="overlay"></div>
<div id="o_footer">
    <ul>
        <li>Copyright &copy; 2014-2016 SunSpec Alliance</li>
        <li><a href="http://www.sunspec.org/join-osparc-program/">Request Account</a></li>
        <li><a href="http://sunspec.org/contact/" target="_blank">Contact Us</a></li>
        <li><a href="http://www.sunspec.org/osparc-service-activation-agreement/" target="_blank">Terms of Use</a></li>
  <li>Version 2.1</li>
    </ul>
    <div class="clearfix"></div>
</div>

</body>
</html>
