<!DOCTYPE html>
<html>
<head>

</head>

  
<body class="">

    <div class="well tab-content">
        <div class="tab-pane" id="post-object-form">
            <form action="http://localhost:8001/api/plants" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                <fieldset>
                    <input type='hidden' name='csrfmiddlewaretoken' value='QsmTa0gGg4TRI3fE02JSPcveknCZ6QvneRwLSlF1iQwTgaTZ2yhYoe2byPTYpL8j' />
                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">PlantUUID</label>
                            <div class="col-sm-10">
                                <input name="plantUUID" class="form-control" type="text"  >
                            </div>
                        </div>
                        <div class="form-group ">
                          <label class="col-sm-2 control-label ">Name</label>
                          <div class="col-sm-10">
                            <input name="name" class="form-control" type="text"  >
                          </div>
                        </div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Description
    </label>
  

  <div class="col-sm-10">
    <input name="description" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      ActivationDate
    </label>
  

  <div class="col-sm-10">
    <input name="activationDate" class="form-control" type="date"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      PostalCode
    </label>
  

  <div class="col-sm-10">
    <input name="postalCode" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      State
    </label>
  

  <div class="col-sm-10">
    <input name="state" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      County
    </label>
  

  <div class="col-sm-10">
    <input name="county" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      City
    </label>
  

  <div class="col-sm-10">
    <input name="city" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Latitude
    </label>
  

  <div class="col-sm-10">
    <input name="latitude" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Longitude
    </label>
  

  <div class="col-sm-10">
    <input name="longitude" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      TimeZone
    </label>
  

  <div class="col-sm-10">
    <input name="timeZone" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      WeatherSource
    </label>
  

  <div class="col-sm-10">
    <input name="weatherSource" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      DCRating
    </label>
  

  <div class="col-sm-10">
    <input name="DCRating" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Derate
    </label>
  

  <div class="col-sm-10">
    <input name="derate" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      TrackerType
    </label>
  

  <div class="col-sm-10">
    <input name="trackerType" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Tilt
    </label>
  

  <div class="col-sm-10">
    <input name="tilt" class="form-control" type="number"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Azimuth
    </label>
  

  <div class="col-sm-10">
    <input name="azimuth" class="form-control" type="number"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      StorageOriginalCapacity
    </label>
  

  <div class="col-sm-10">
    <input name="storageOriginalCapacity" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      StorageCurrentCapacity
    </label>
  

  <div class="col-sm-10">
    <input name="storageCurrentCapacity" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      StorageStateOfCharge
    </label>
  

  <div class="col-sm-10">
    <input name="storageStateOfCharge" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      AccountID
    </label>
  

  <div class="col-sm-10">
    <input name="accountID" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      VersionID
    </label>
  

  <div class="col-sm-10">
    <input name="versionID" class="form-control" type="number"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      SolarAnywhereSite
    </label>
  

  <div class="col-sm-10">
    <input name="solarAnywhereSite" class="form-control" type="text"  >

    

    
  </div>
</div>

  


                              <div class="form-actions">
                                <button class="btn btn-primary" title="POST to add a plant">POST</button>
                              </div>
        </fieldset>
      </form>
                        
                      </div>
                    
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

    

    
      <script>
        window.drf = {
          csrfHeaderName: "X-CSRFTOKEN",
          csrfCookieName: "csrftoken"
        };
      </script>
      <script>
      </script>
