<!DOCTYPE html>
<html>
<!-- Copyright SunSpec Alliance 2014-2016 All Rights Reserved -->
<!-- <c:set var="activeTab" value="manage_plants" scope="session"/> -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'osparc/themes_blue.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'osparc/osparc.css' %}" />

<head>
  <meta charset="utf-8">
  <title>oSPARC</title>
</head>

<script src="http://www.w3schools.com/lib/w3data.js"></script>

<body>
  
<div w3-include-html="head_nav"></div>

<h2>Create Report</h2>

<form action="javascript:osparc_addreport.addReport()" class="form-horizontal">

  <div class="o_category_filter">

    <h2 class="o_category_filter_header">Report Attributes</h2>

    <div id="report_attributes_div">

      <div class="floatLeft">
        <label for="name">Report Name</label>
        <div><input name="name"/></div>
      </div>

      <div id="plant_evalperiod_div" class="floatLeft">
          <label>Initial Measurement Date</label>
          <div><input name="observationstartdate" class="form-control" type="date" value="2001-01-01"></div>
      </div>
      <div id="plant_evalperiod_div" class="floatLeft">
          <label>Final Measurement Date</label>
          <div><input name="observationenddate" class="form-control" type="date" value="2016-12-31"></div>
      </div>

      <div class="clearfix"><p>&nbsp;</p></div>
    </div>

  </div><!-- close category filter div -->

  <div class="o_category_filter">

    <h2 class="o_category_filter_header">Plants Included</h2>

    <div id="plant_attributes_div">
        <div id="plant_state_div" class="floatLeft">
          <label for="plantState">Attribute</label>
          <div><input name="plantfilterattribute"/></div>
        </div>
        <div id="plant_state_div" class="floatLeft">
          <label for="plantState">Comparison Operation</label>
          <div><input name="plantfilteroperation"/></div>
        </div>
        <div id="plant_state_div" class="floatLeft">
          <label for="plantState">Value</label>
          <div><input name="plantfiltervalue"/></div>
        </div>

<!-- TBD XXX implement drop-down of possible attributes and operations. Valid attributes are plant
     attributes, from the osparc web services models.py Plant class. Valid operations are from the django
     field lookups list, see https://docs.djangoproject.com/en/1.10/ref/models/querysets/#field-lookups.

     ops: exact, iexact, contains, icontains, in, gt, gte, lt, lte, startswith, istartswith, endswith, iendswith,
     range, date, year, month, day, week_day, hour, minute, second, isnull, regex, iregex.
-->

      <div class="clearfix"></div>

    </div><!-- close plant_attributes_div -->
  </div><!-- close category filter div -->

  <!-- <jsp:include page="../plant/plant_construction.jsp" />
  <jsp:include page="../plant/plant_participants.jsp" />
   -->

  <div class="form-actions">
    <button class="osparcButton">Create and Run Report</button>
    <button class="osparcButton o_cancel">Cancel</button>
  </div>
</form>

<!--   <div id="overlay"></div>
    <div id="server_response_div">
      <div class="o_category_filter">
      <h2 id="server_response_title" class="o_category_filter_header"></h2>
      <div id="server_response_text"></div>
      <div id="close_btn_div" class="close_btn"><button class="close_window" os-data-overlay-id="server_response_div"><spring:message code="globals.close"/></button></div>
    </div>
  </div>
 -->

<div id="overlay"></div>
<div id="o_footer">
    <ul>
        <li>Copyright &copy; 2014-2016 SunSpec Alliance</li>
        <li><a href="http://www.sunspec.org/join-osparc-program/">Request Account</a></li>
        <li><a href="http://sunspec.org/contact/" target="_blank">Contact Us</a></li>
        <li><a href="http://www.sunspec.org/osparc-service-activation-agreement/" target="_blank">Terms of Use</a></li>
  <li>Version 2.1</li>
    </ul>
    <div class="clearfix"></div>
</div>

<script>w3IncludeHTML();</script>

<!-- from common_js.jsp -->
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>

<script src="{% static 'osparc/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'osparc/main.js' %}"></script>
<script src="{% static 'osparc/add_report.js' %}"></script>
</body>
</html>
