<!DOCTYPE html>
<html>
<head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'osparc/themes_blue.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'osparc/osparc.css' %}" />

</head>

  
<body class="">

    <div class="well tab-content">
        <div class="tab-pane" id="post-object-form">
            <form action="http://localhost:8001/api/plants" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                <fieldset>
                    <input type='hidden' name='csrfmiddlewaretoken' value='QsmTa0gGg4TRI3fE02JSPcveknCZ6QvneRwLSlF1iQwTgaTZ2yhYoe2byPTYpL8j' />
                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">PlantUUID</label>
                            <div class="col-sm-10">
                                <input name="plantUUID" class="form-control" type="text"  >
                            </div>
                        </div>
                        <div class="form-group ">
                          <label class="col-sm-2 control-label ">Name</label>
                          <div class="col-sm-10">
                            <input name="name" class="form-control" type="text"  >
                          </div>
                        </div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Description
    </label>
  

  <div class="col-sm-10">
    <input name="description" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      ActivationDate
    </label>
  

  <div class="col-sm-10">
    <input name="activationDate" class="form-control" type="date"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      PostalCode
    </label>
  

  <div class="col-sm-10">
    <input name="postalCode" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      State
    </label>
  

  <div class="col-sm-10">
    <input name="state" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      County
    </label>
  

  <div class="col-sm-10">
    <input name="county" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      City
    </label>
  

  <div class="col-sm-10">
    <input name="city" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Latitude
    </label>
  

  <div class="col-sm-10">
    <input name="latitude" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Longitude
    </label>
  

  <div class="col-sm-10">
    <input name="longitude" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      TimeZone
    </label>
  

  <div class="col-sm-10">
    <input name="timeZone" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      WeatherSource
    </label>
  

  <div class="col-sm-10">
    <input name="weatherSource" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      DCRating
    </label>
  

  <div class="col-sm-10">
    <input name="DCRating" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Derate
    </label>
  

  <div class="col-sm-10">
    <input name="derate" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      TrackerType
    </label>
  

  <div class="col-sm-10">
    <input name="trackerType" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Tilt
    </label>
  

  <div class="col-sm-10">
    <input name="tilt" class="form-control" type="number"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Azimuth
    </label>
  

  <div class="col-sm-10">
    <input name="azimuth" class="form-control" type="number"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      StorageOriginalCapacity
    </label>
  

  <div class="col-sm-10">
    <input name="storageOriginalCapacity" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      StorageCurrentCapacity
    </label>
  

  <div class="col-sm-10">
    <input name="storageCurrentCapacity" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      StorageStateOfCharge
    </label>
  

  <div class="col-sm-10">
    <input name="storageStateOfCharge" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      AccountID
    </label>
  

  <div class="col-sm-10">
    <input name="accountID" class="form-control" type="text"  >

    

    
  </div>
</div>

  

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      VersionID
    </label>
  

  <div class="col-sm-10">
    <input name="versionID" class="form-control" type="number"  >

    

    
  </div>
</div>

  

  
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      SolarAnywhereSite
    </label>
  

  <div class="col-sm-10">
    <input name="solarAnywhereSite" class="form-control" type="text"  >

    

    
  </div>
</div>

  


                              <div class="form-actions">
                                <button class="btn btn-primary" title="Make a POST request on the Plant List resource">POST</button>
                              </div>
        </fieldset>
      </form>
    </div><div class="tab-pane" id="post-generic-content-form">
                      
                        <form action="/api/plants" method="POST" class="form-horizontal">
                          <fieldset>
                            


  <div class="form-group">
    <label for="id__content_type" class="col-sm-2 control-label">Media type:</label>
    <div class="col-sm-10">
      <select data-override="content-type" id="id__content_type" name="_content_type" required class="form-control">
<option value="application/json" selected="selected">application/json</option>
<option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
<option value="multipart/form-data">multipart/form-data</option>
</select>
      <span class="help-block"></span>
    </div>
  </div>

  <div class="form-group">
    <label for="id__content" class="col-sm-2 control-label">Content:</label>
    <div class="col-sm-10">
      <textarea cols="40" data-override="content" id="id__content" name="_content" rows="10" required class="form-control">
{
    &quot;plantUUID&quot;: &quot;&quot;,
    &quot;name&quot;: &quot;&quot;,
    &quot;description&quot;: &quot;&quot;,
    &quot;activationDate&quot;: null,
    &quot;postalCode&quot;: &quot;&quot;,
    &quot;state&quot;: &quot;&quot;,
    &quot;county&quot;: &quot;&quot;,
    &quot;city&quot;: &quot;&quot;,
    &quot;latitude&quot;: &quot;&quot;,
    &quot;longitude&quot;: &quot;&quot;,
    &quot;timeZone&quot;: &quot;&quot;,
    &quot;weatherSource&quot;: &quot;&quot;,
    &quot;DCRating&quot;: null,
    &quot;derate&quot;: null,
    &quot;trackerType&quot;: &quot;&quot;,
    &quot;tilt&quot;: null,
    &quot;azimuth&quot;: null,
    &quot;storageOriginalCapacity&quot;: null,
    &quot;storageCurrentCapacity&quot;: null,
    &quot;storageStateOfCharge&quot;: null,
    &quot;accountID&quot;: &quot;&quot;,
    &quot;versionID&quot;: null,
    &quot;solarAnywhereSite&quot;: &quot;&quot;
}</textarea>
      <span class="help-block"></span>
    </div>
  </div>


                            <div class="form-actions">
                              <button class="btn btn-primary" title="Make a POST request on the Plant List resource">POST</button>
                            </div>
                          </fieldset>
                        </form>
                      
                    </div>
                  </div>
                </div>
              

              
            
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

    

    
      <script>
        window.drf = {
          csrfHeaderName: "X-CSRFTOKEN",
          csrfCookieName: "csrftoken"
        };
      </script>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
      <script src="/static/rest_framework/js/ajax-form.js"></script>
      <script src="/static/rest_framework/js/csrf.js"></script>
      <script src="/static/rest_framework/js/bootstrap.min.js"></script>
      <script src="/static/rest_framework/js/prettify-min.js"></script>
      <script src="/static/rest_framework/js/default.js"></script>
      <script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
