<!DOCTYPE html>
<html>
<!-- Copyright SunSpec Alliance 2014-2016 All Rights Reserved -->
<!-- <c:set var="activeTab" value="manage_plants" scope="session"/> -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'osparc/themes_blue.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'osparc/osparc.css' %}" />

<head>
  <meta charset="utf-8">
  <title>oSPARC</title>
</head>


<body>



<!-- header from include/header.jsp (logos, title) -->
<a href="http://www.sunspec.org/"><img src="{% static "osparc/images/osparc_header.jpeg" %}" alt="SunSpec Alliance oSPARC" title="SunSpec Alliance oSPARC"/></a>
<div class="floatRight">
  <a href="http://www.cleanpower.com/"><img src="{% static "osparc/images/by_SA-SystemCheck_web.png" %}" alt="Clean Power Research" title="Clean Power Research"/></a>
</div>

<!-- Top navigation bar from include/top_nav.jsp -->
<div id="main_nav">
  <ul class="dropdown top_level">
    <li id="homeLink"><a href="/osparc">Dashboard</a></li>
    <!--
    <sec:authorize access="hasRole('admin')">
      <li ><a href="#">Accounts</a>
          <ul class="sub_menu">
              <li><a href="/account/create">Create Account</a></li>
              <li><a href="/account">Manage Accounts</a></li>
          </ul>
      </li>
    </sec:authorize>
  -->
    <sec:authorize access="hasRole('admin') or hasRole('dataProvider')">
      <li ><a href="#">Plants</a>
          <ul class="sub_menu">
              <li><a href="add_plant">Create Plant</a></li>
<!--              <li><a href="/plant/upload">Upload Plant</a></li>
              <li><a href="/plant/timeseries_upload">Upload Plant Timeseries Data</a></li>
-->
              <li><a href="list_plants">View Plants</a></li>
          </ul>
      </li>
    </sec:authorize>
      <li><a href="#">Reports</a>
        <ul class="sub_menu">
          <li><a href="add_query">Create Report Definition</a></li>
          <li><a href="list_queries">View Report Definitions</a></li>
          <li><a href="list_reports">View Reports</a></li>
        </ul>
      </li>
      <li><a href="http://sunspec.org/osparchelp" target="_blank">Help</a></li>
      <!--
      <li>
        <c:if test="${pageContext.request.remoteUser != null}">
          <c:url var="logoutUrl" value="/logout"/>


          <form action="${logoutUrl}" method="post" id="logout_form">
            <a href="javascript:{}" onclick="submit_logout_form();">Logout</a>
             Because we are using form and not form:form we need to
             explicitly include the csrf token
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
          </form>
        </c:if>
      </li>
      -->
    </ul>
    <div class="clearfix"></div>
</div>


  <h2>Report</h2>

  <div class="o_category_filter">

    <h2 class="o_category_filter_header">Report Attributes</h2>

    <div id="report_attributes_div">

      <div class="floatLeft">
        <label for="name">Report Name</label>
        <div><p id='report_name'></p></div>
      </div>

      <div id="plant_evalperiod_div" class="floatLeft">
          <label>Initial Measurement Date</label>
          <div><p id='firstmeasurementdate'</p></div>
      </div>
      <div id="plant_evalperiod_div" class="floatLeft">
          <label>Final Measurement Date</label>
          <div><p id='lastmeasurementdate'</p></div>
      </div>

      <div class="clearfix"><p>&nbsp;</p></div>
    </div>
  </div>

  <div class="o_category_filter">

    <h2 class="o_category_filter_header">Included Plant Attributes</h2>

    <div id="report_attributes_div">

      <div id="plant_evalperiod_div" class="floatLeft">
          <label>Plants Reporting Energy</label>
          <div><p id='numberofplants'</p></div>
      </div>

      <div id="plant_evalperiod_div" class="floatLeft">
          <label>Total DC Rating (kW)</label>
          <div><p id='totaldccapacity'</p></div>
      </div>


      <div class="clearfix"><p>&nbsp;</p></div>
    </div>
  </div>

  <!-- <div id="reportdetails"></div> -->
  <div id="o_stats_wrapper" class="o_category_filter" style="float:left; width:100%;">

      <h2 class="o_category_filter_header">Energy Performance Metrics</h2>


      <div id="kpi_stats" align="center">
        <div id="kpi_stats_results">
          <table class="tablesorter">
            <thead>
            <tr><th>KPI</th><th>Mean</th><th>Median</th><th>Min</th><th>Max</th></tr>
            </thead>
            <tbody>
            <tr>
              <td><a href="http://www.sunspec.org/go/osparc">DC Power Rating (kW)</a></td>
              <td id='dc_mean'></td>
              <td id='dc_med'></td>
              <td id='dc_min'></td>
              <td id='dc_max'></td>
            </tr>
            <tr>
              <td><a href="http://www.sunspec.org/go/osparc">Monthly Insolation (kWh/m<sup>2</sup>)</a></td>
              <td id='ghi_mean'></td>
              <td id='ghi_med'></td>
              <td id='ghi_min'></td>
              <td id='ghi_max'></td>
            </tr>
            <tr>
              <td><a href="http://www.sunspec.org/go/osparc">Monthly Generated Energy (kWh)</a></td>
              <td id='wh_mean'></td>
              <td id='wh_med'></td>
              <td id='wh_min'></td>
              <td id='wh_max'></td>
            </tr>
            <tr>
              <td><a href="http://www.sunspec.org/go/osparc">Monthly Yield (kWh/kWp)</a></td>
              <td id='yield_mean'></td>
              <td id='yield_med'></td>
              <td id='yield_min'></td>
              <td id='yield_max'></td>
            </tr>
            <tr>
              <td><a href="http://www.sunspec.org/go/osparc">Performance Ratio (ratio)</a></td>
              <td id='pr_mean'></td>
              <td id='pr_med'></td>
              <td id='pr_min'></td>
              <td id='pr_max'></td>
            </tr>
            <tr>
              <td><a href="http://www.sunspec.org/go/osparc">Storage Capacity (kWh)</a></td> 
              <td id='stor_mean'></td>
              <td id='stor_med'></td>
              <td id='stor_min'></td>
              <td id='stor_max'></td>
            </tr>
            <tr>
              <td><a href="http://www.sunspec.org/go/osparc">Storage State of Health (%)</a></td> 
              <td id='soh_mean'></td>
              <td id='soh_med'></td>
              <td id='soh_min'></td>
              <td id='soh_max'></td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
  </div>

<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<script src="{% static 'osparc/main.js' %}"></script>
<script src="{% static 'osparc/view_report.js' %}"></script>
</body>
</html>
