<!DOCTYPE html>
<html>
<!-- Copyright SunSpec Alliance 2014-2016 All Rights Reserved -->
<!-- <c:set var="activeTab" value="manage_plants" scope="session"/> -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'osparc/themes_blue.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'osparc/osparc.css' %}" />

<head>
  <meta charset="utf-8">
  <title>oSPARC</title>
</head>

<body>

    <!-- header from include/header.jsp (logos, title) -->
<a href="http://www.sunspec.org/"><img src="{% static "osparc/images/osparc_header.jpeg" %}" alt="SunSpec Alliance oSPARC" title="SunSpec Alliance oSPARC"/></a>
<div class="floatRight">
  <a href="http://www.cleanpower.com/"><img src="{% static "osparc/images/by_SA-SystemCheck_web.png" %}" alt="Clean Power Research" title="Clean Power Research"/></a>
</div>

<!-- Top navigation bar from include/top_nav.jsp -->
<div id="main_nav">
  <ul class="dropdown top_level">
    <li id="homeLink"><a href="/osparc">Dashboard</a></li>
    <!--
    <sec:authorize access="hasRole('admin')">
      <li ><a href="#">Accounts</a>
          <ul class="sub_menu">
              <li><a href="/account/create">Create Account</a></li>
              <li><a href="/account">Manage Accounts</a></li>
          </ul>
      </li>
    </sec:authorize>
  -->
    <sec:authorize access="hasRole('admin') or hasRole('dataProvider')">
      <li ><a href="#">Plants</a>
          <ul class="sub_menu">
              <li><a href="add_plant">Create Plant</a></li>
<!--              <li><a href="/plant/upload">Upload Plant</a></li>
              <li><a href="/plant/timeseries_upload">Upload Plant Timeseries Data</a></li>
-->
              <li><a href="list_plants">View Plants</a></li>
          </ul>
      </li>
    </sec:authorize>
      <li><a href="#">Reports</a>
        <ul class="sub_menu">
          <li><a href="add_query">Create Report Definition</a></li>
          <li><a href="list_queries">View Report Definitions</a></li>
          <li><a href="list_reports">View Reports</a></li>
        </ul>
      </li>
      <li><a href="http://sunspec.org/osparchelp" target="_blank">Help</a></li>
      <!--
      <li>
        <c:if test="${pageContext.request.remoteUser != null}">
          <c:url var="logoutUrl" value="/logout"/>


          <form action="${logoutUrl}" method="post" id="logout_form">
            <a href="javascript:{}" onclick="submit_logout_form();">Logout</a>
             Because we are using form and not form:form we need to
             explicitly include the csrf token
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
          </form>
        </c:if>
      </li>
      -->
    </ul>
    <div class="clearfix"></div>
</div>



  <h2>Plant</h2>

  <div class="o_category_filter">
    <h2 class="o_category_filter_header">Plant Attributes</h2>
  	<table>
		<tr>
			<td><label class="col-sm-2 control-label ">Name</label></td>
            <td id="name" class="form-control" type="text"></label></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">UUID</label></td>
            <td id="uuid" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Description</label></td>
            <td id="description" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Activation Date</label></td>
            <td id="activationdate" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">DC Rating</label></td>
            <td id="dcrating" class="form-control" type="text"></td>
        </tr>
                    <input type="hidden" name="accountid" class="form-control" type="text" value="admin" >
                    <input type="hidden" name="solaranywheresite" class="form-control" type="text"  >
		<tr>
			<td><label class="col-sm-2 control-label ">State</label></td>
            <td id="state" class="form-control" type="text"></label></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">County</label></td>
            <td id="county" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">City</label></td>
            <td id="city" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Time Zone</label></td>
            <td id="timezone" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Latitude</label></td>
            <td id="latitude" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Longitude</label></td>
            <td id="longitude" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Type</label></td>
            <td id="arraytype" class="form-control" type="text"></label></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Tilt</label></td>
            <td id="tilt" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Azimuth</label></td>
            <td id="azimuth" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Weather Data Source</label></td>
            <td id="weathersource" class="form-control" type="text"></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Storage Capacity</label></td>
            <td id="storageoriginalcapacity" class="form-control" type="text"></label></td>
        </tr>
    </table>
  </div>

  <div class="o_category_filter">
    <h2 class="o_category_filter_header">Key Performance Indicators</h2>
  	<table>
		<tr>
			<td><label class="col-sm-2 control-label ">First Measurement</label></td>
            <td id="firstmeasurementdate" class="form-control" type="text"></label></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Last Measurement</label></td>
            <td id="lastmeasurementdate" class="form-control" type="text"></label></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Monthly Yield</label></td>
            <td id="monthlyyield" class="form-control" type="text"></label></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Performance Ratio</label></td>
            <td id="performanceratio" class="form-control" type="text"></label></td>
        </tr>
		<tr>
			<td><label class="col-sm-2 control-label ">Storage State of Health</label></td>
            <td id="storagestateofhealth" class="form-control" type="text"></label></td>
        </tr>
    </table>
  </div>


<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<script src="{% static 'osparc/main.js' %}"></script>
<script src="{% static 'osparc/view_plant.js' %}"></script>
</body>
</html>
